body {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    font-size: 36px;
    color: rgb(65, 62, 62);
}

.background {
    
    z-index: -1;
}


#game{
    width: 700px;
    height: 500px;
    /*border: 1px solid black;*/
    margin: auto;
}

